---
title: "Browse documents"
---

<!DOCTYPE html>

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}
	<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content content--text">
		<h1>More about us</h1>
		<hr>
		<div id="authors">
			<div class="authors__author">
				<div class="author__img-wrapper animate">
					<img src="images/kevanlu.jpg" />
				</div>
				<div class="author__text-wrapper animate">
					<h3 class="author-title editable">Kevan Lu</h3>
					<p class="editable">I'm a recent medical graduate starting my residency in Otolaryngology – Head &amp; Neck Surgery at the University of Ottawa in July. I completed a Joint Honours degree in Computer Science &amp; Biology at McGill University, and I'm passionate about the use of technology in medical education. In my free time, I enjoy graphic design, photography, and sleeping.</p> 
					<div class="icon"><span><i class="fa fa-external-link" aria-hidden="true"></i>Website: <a href="http://kevan.lu">www.kevan.lu</a></span></div>
					<div class="icon"><span><i i class="fa fa-github-alt" aria-hidden="true"></i>Github: <a href="https://github.com/kevanlu">github.com/kevanlu</a></span></div>
				</div>
			</div>
			<div class="authors__author">
				<div class="author__img-wrapper animate">
					<img src="images/anitapopescu.png" />
				</div>
				<div class="author__text-wrapper animate">
					<h3 class="author-title editable">Anita Popescu</h3>
					<p class="editable">I'm a Computer Science student minoring in Life Sciences at the University of Ottawa, with experience in programming, web development, and databases. I am also curious about the ever-growing biotechnology field and am interested in the movement to help the medical sector improve patient care with newer technologies. My hobbies outside of computer science include music and theatre, reading, and involvement in clubs and associations, such as the University of Ottawa's Computer Science Students' Association and Pop Orchestra.</p> 
					<div class="icon"><span><i class="fa fa-external-link" aria-hidden="true"></i>Website: <a href="http://anitapopescu.me">www.anitapopescu.me</a></span></div>
					<div class="icon"><span><i i class="fa fa-github-alt" aria-hidden="true"></i>Github: <a href="https://github.com/AnitaPita">github.com/AnitaPita</a></span></div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>