---
title: "Members"
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}
</head>
<body>
	{% include nav.html %}

	<div class="content content--text">
		<!--Page Specific Formatting-->
		<script type="text/javascript">
			document.querySelector( "#logo-invert" ).classList.toggle("hidden");
		</script>

		<h1 id="page-title">Members</h1>
		<div id="account-details" class="members-only">
			<blockquote id="account-info">
				<h3><strong>Your Account:</strong></h3>
				<ul>
					<li><b>Name</b>: <span id="account-name"></span><br></li>
					<li><b>Email Address</b>: <a id="account-email" href=""></a></li>
				</ul>
			</blockquote>
		</div>
		<div class="non-members">
			<blockquote>
				<h3><strong>Please login to see this page</strong></h3>
				<ul>
					<li><a class="login-modal" href="" onclick="return false;">Login</a> in order to view the content on this page.</li>
				</ul>
			</blockquote>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>