---
title: "Browse documents"
---

<!DOCTYPE html>

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}
	<link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/view.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content content--text">
		<h1>See what others have created</h1>
		<hr>
		<div id="public-documents">
		</div>
	</div>

	<script>
		//Writes the public documents to the div
		getPublicDocuments("public-documents");
	</script>
	{% include footer.html %}
</body>
</html>