---
title: "Document"
---

<!DOCTYPE html>

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/edit.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content content--text">
		<div id="editor-toolbar" class="flex-wrapper flex-wrapper--editor">
			<div><h1 id="document-name"></h1></div>
			<div id="editor-toolbar__buttons" class="flex-wrapper">
				<div id="editor-toolbar__save-button"><a onclick="saveOrCreate()">Save</a></div>
				<div id="editor-toolbar__publish-button"><a onclick="publishDocument()">Publish</a></div>
			</div>
		</div>
		<script>
			//Decodes the filename URI from the URL
			var decoded = decodeURI (getURLParam().filename);
			//If the filename exists
			if (decoded)
				document.getElementById("document-name").innerHTML = decoded;
			else
				document.getElementById("document-name").innerHTML = "Untitled Document";
		</script>
		<hr>
		<!-- Quill Editor -->
		<div id="editor">
			<p>Start typing your manifesto here...</p>
		</div>
	</div>

	<!-- Initialize Quill editor -->
	<script>
	  var quill = new Quill('#editor', {
	    theme: 'snow',
		modules: {
		  	toolbar: [
		    	[{ header: [1, 2, 3, false] }],
		    	['bold', 'italic', 'underline'],
		    	[{ 'list': 'ordered'}, { 'list': 'bullet' }],
		    	[{ 'script': 'sub'}, { 'script': 'super' }, { 'align': [] }],
		    	[{ 'indent': '-1'}, { 'indent': '+1' }],
		    	['blockquote', 'image', 'link']
		    ]
		},
	  });
	</script>
	{% include footer.html %}
</body>
</html>