---
title: "Create a new account"
---

<!DOCTYPE html>


<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}
</head>
<body>
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>
	<div class="content content--text">
		<blockquote id="new-account-pane">
			<h3><strong>Create an account</strong>:</h3>
			<label>Email Address</label>
			<div class="input">
				<input name='email' id='account-email' type='email' placeholder='Enter your email' />
			</div>
			<label>First Name</label>
			<div class="input">
				<input name='first_name' id='account-first-name' type='text' placeholder='' />
			</div>
			<label>Last Name</label>
			<div class="input">
				<input name='last_name' id='account-last-name' type='text' placeholder='' />
			</div>
			<label>Enter your Password</label>
			<div class="input">
				<input name='password_first' id='account-password-first' type='password' ng-model='password_first' placeholder='' />
			</div>
			<label>Confirm your Password</label>
			<div class="input">
				<input name='password_second' id='account-password-second' type='password' ng-model='password_second' placeholder='' />
			</div> 
			<div class="button" style="margin-top:10px;">
				<a style="cursor:pointer" onclick='handleSignUp();'>
					<strong>Create your account</strong>
				</a>
			</div>
		</blockquote>
	</div>
	{% include footer.html %}
</body>
</html>