---
title: "Document"
---

<!DOCTYPE html>

<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<head>
	{% include head.html %}

	<!--Page Specific Stylesheet-->
	<link rel="stylesheet" href="/stylesheets/edit.css">
</head>
<body ng-app="authApp" ng-controller="AuthController">
	{% include nav.html %}
	
	<!--Page Specific Formatting-->
	<script type="text/javascript">
		document.querySelector( "#logo-invert" ).classList.toggle("hidden");
	</script>

	<div class="content content--text">
		<div><h1 id="document-name"></h1></div>
		<div id="document-author"></div>
		<div id="date-modified"></div>
		<hr>
		<div id="viewer">
		</div>
	</div>
	<script>
		document.getElementById("document-name").innerHTML = decodeURI (getURLParam().filename);
		document.getElementById("document-author").innerHTML = decodeURI (getURLParam().author);
		document.getElementById("date-modified").innerHTML = decodeURI (getURLParam().datemodified);
		var key = decodeURI (getURLParam().key);
		firebase.database().ref('/public/' + key).once('value').then(function(snapshot) {
			document.getElementById('viewer').innerHTML = extractQuillContent(snapshot.val().documentRef);
		});
	</script>
	{% include footer.html %}
</body>
</html>