<div id="top-bar" class="invert {{page.lang}}">
	<div id="top-bar__logo" class="animate">
		<div>
			<img id="logo-invert" src="{{ site.baseurl }}/images/logo-invert.svg">
			<img id="logo" src="{{ site.baseurl }}/images/logo.svg">
			<a href="/">{{ site.data.values.app_name }}</a>
		</div>
	</div>
	<div id="top-bar__hamburger" class="animate">
		<a onclick="return false;" id="top-bar__hamburger-toggle" href=""><span></span></a>
	</div>
	<div id="nav" class="animate">
		<ul>
			<li id="browse" class="nav__item"><a class="top-level" href="/browse.html">Browse</a></li>
			<li id="news" class="nav__item"><a class="top-level" href="/about-us.html">About us</a></li>
			<li id="news" class="nav__item"><a class="top-level" href="/news/">News</a></li>
			<li id="create" class="nav__item"><a href='' onclick='return false' class="top-level create-doc-modal">Create a Doc</a></li>
			<li id="member" class="nav__item"><a id="member-name" class="top-level members-only--header"></a>
				<div class="nav__sub-menu">
				    <ul>
				    	<li><a href="{{ site.baseurl }}/documents.html">Documents</a></li>
				    	<li><a href="{{ site.baseurl }}/account.html">Account</a></li>
				    	<li><a class="login-modal" href='{{ site.baseurl }}' onclick='return false'>Logout</a></li>
				    </ul>
				</div>
			</li>
			<li class="nav__item"><a href='{{ site.baseurl }}' onclick='return false' id="login-button" class="login-modal">Login</a></li>
		</ul>
	</div>
</div>
