@charset "utf-8";
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}
@font-face {
	font-family: "Source Serif Pro";
	src: url("../fonts/SourceSerifPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Source Serif Pro";
	font-weight: bold;
	src: url("../fonts/SourceSerifPro-Bold.otf") format("opentype");
}

$header: "Circular", Helvetica, Arial, sans-serif;
$sans-serif: "Lato", "Proxima Nova", Helvetica, Arial, sans-serif;
$serif: "Source Serif Pro", Georgia, serif;

$accent: #A81F0A;
$darker: #222827;
$dark: #414948;
$neutral: #889696;
$bright: #B8BDB5;
$brighter: #E8EAE3;

$content-width: 1000px;

/* #Inherited Classes
––––––––––––––––––––––––––––––––––––––––*/

.content {
	margin: 0 auto;
	width: $content-width;
	max-width:calc(100% - 80px);
	padding: 0px 40px 0px 40px;
}
.content--text {
	padding: 50px 40px 40px 40px;
}
@media only screen and (max-width: 767px) {
	.content {
		flex-wrap:wrap;
		max-width:calc(100% - 30px);
		padding: 0 15px 0 15px;
	}
	.content--text {
		padding: 30px 15px 30px 15px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 480px) {
}

.button {
	padding-top:10px;
	padding-bottom:20px;
	a{
		color:$neutral;
		border:2px solid $neutral;
		border-radius:4px;
		padding: 4px 10px 4px 10px;
		font-family:$sans-serif;
	}
	a:after{
		content: "→";
		padding-left:5px;
		vertical-align:bottom;
	}
	a:hover{
		border:2px solid $bright;
		color:$bright;
	}
}
.flex-wrapper {
	display:flex;
}

